table.opcode, table.opcode>tr>th {
    border: 1px solid black;
}

table.opcode {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    min-width: 1500px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10px;
    margin-bottom: 1em;
}

body {
    background-color: Snow;
    font-family: 'KoHo', sans-serif;
}

table.opcode>tr>th:first-child {
    width: 30px;
}

table.opcode>tr>th {
    padding: 8px;
}

table.opcode>tr:nth-child(odd)>th {
    background-color: lightgrey;
}

table.opcode>tr:nth-child(even)>th {
    background-color: rgb(245,245,245);
}

table.opcode>tr {
    background-color: black;
}

table.opcode>tr>td {
    text-align: center;
    padding: 0px;
}

#floating-box-container {
    z-index: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    background-color: rgba(169,169,169, .6);

}

#floating-box {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: Snow;
    border: 1px solid black;
    padding: 0px;
    font-family: 'Ubuntu Mono', monospace;
    overflow: auto;
}

td.opcode.x16\/lsm > div {
    background-color: rgba(186, 85, 211, 0.3);
}

td.opcode.x16\/lsm::before {
    background-color: MediumOrchid;
}

td.opcode.x16\/alu > div {
    background-color: rgba(50, 205, 50, 0.3);
}

td.opcode.x16\/alu::before {
    background-color: LimeGreen;
}

td.opcode.x8\/rsb > div {
    background-color: rgba(0, 255, 255, 0.3);
}

td.opcode.x8\/rsb::before {
    background-color: cyan;
}

td.opcode.x8\/alu > div {
    background-color: rgba(0, 255, 0, 0.3);
}


td.opcode.x8\/alu::before {
    background-color: Lime;
}

td.opcode.control\/misc > div {
    background-color: rgba(255, 79, 91, 0.3);
}

td.opcode.control\/misc::before {
    background-color: Tomato;
}

td.opcode.x8\/lsm > div {
    background-color: rgba(218, 112, 214, 0.3);
}

td.opcode.x8\/lsm::before {
    background-color: Orchid;
}

td.opcode.control\/br > div {
    background-color: rgba(255, 160, 122, 0.3);
}

td.opcode.control\/br::before {
    background-color: LightSalmon;
}

td.opcode.unused {
    background-color: #c8cdd1;
    /* background-color: rgba(112, 128, 144, 0.3); */
}

td.opcode {
    border: 1px solid black;
    background-color:  rgb(237,237,237);
    position: relative;
    background-clip: padding-box;
    -webkit-user-select: none;
}

td.opcode:not(.unused):hover {
    background-color: rgb(220, 220, 220);
}

td.opcode::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    background-color: slategray;
    content: ""; /* figure out why this is needed and get rid of it. */
}

td.opcode.hidden {
    visibility: hidden;
}
  
td.opcode > div {
    /* height:100%;
    width:100%; */
    padding: 8px;
}

td.opcode pre {
    display: inline;
}

code {
    background-color: rgb(230, 230, 230);
}

#header {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em
}

.floating-grid-container {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: auto auto;
    padding: 8px;
  }

  .name {
    grid-area: 1 / 2;
    justify-self: center;
    text-align: center;
    padding: 8px;
  }
  
  .data-column {
    justify-self: start;
    grid-area: 2 / 1;
    padding: 8px;
  }
  
  .timing-column {
    justify-self: end;
    grid-area: 2 / 3;
    padding: 8px;
  }
  
  .flag-table th {
    text-align: left;
    padding-right: 8px;
  }
  