table, th, td {
    font-family: monospace;
    font-size: small;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 100%;
    min-width: 1500px;
}

th:first-child {
    width: 30px;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

th, td {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#floating-box-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    background-color: rgba(169,169,169, .6);

}

#floating-box {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
    padding: 1em 1em 1em 1em;
}

td.opcode.x16\/lsm {
    background-color: MediumOrchid;
}


td.opcode.x16\/alu {
    background-color: LimeGreen;
}

td.opcode.x8\/rsb {
    background-color: Cyan;
}

td.opcode.x8\/alu {
    background-color: Lime;
}

td.opcode.control\/misc {
    background-color: Tomato;
}

td.opcode.x8\/lsm {
    background-color: Orchid;
}

td.opcode.control\/br {
    background-color: LightSalmon;
}

td.opcode {
    background-color: SlateGrey;
}

td.opcode > pre {
    display: inline;
}

#header {
    padding-bottom: 0.5em
}
