table, th, td {
    font-family: monospace;
    font-size: small;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 100%;
    min-width: 1500px;
}

th:first-child {
    width: 30px;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

th, td {
    align-items: center;
    justify-content: center;
    text-align: center;
}
